html {
  background: url(sfondo.png) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  
p  {
    font-family: Arial;
    font-size: 16px;
    }

  #Inserimento_Dati {
  opacity: 0.4;
  font: Bold 20px Arial;
  color: #197F21;
  position:absolute;
  top: 25px;
  left: 30%;
  height: 50px;
  width: 450px;
  padding: 5px;
  background-color: #ffffff;
  overflow: auto;
  }

#Inserimento_Dati2 {
  opacity: 0.6;
  font: Bold 20px Arial;
  color: #ffffff;
  position:absolute;
  top: 100px;
  left: 30%;
  height: 475px;
  width: 30%;
  padding: 15px;
  background-color: #EA0101;
  overflow: auto;
  }

#Inserimento_Dati3 {
  opacity: 0.0;
  font: Bold 20px Arial;
  color: #197F21;
  position:absolute;
  top: 100px;
  left: 50%;
  height: 475px;
  width: 11.5%;
  padding: 5px;
  background-color: #ff0000;
  overflow: auto;
  }